<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Students view</title>
</head>
<body>
    {% include "head/header.html" %}
    <h1>INFORMACIÓ PROFESSORAT TIC BARCELONA</h1>
    <table>
        <tr>
            <th>NOM</th>
            <th>COGNOM1</th>
            <th>COGNOM2</th>
            <th>CORREU</th>
            <th>CURS</th>
            <th>TUTOR</th>
            <th>MÒDULS IMPARTITS</th>
        </tr>
        <tr>
            <td>Roger</td>
            <td>Sobrino</td>
            <td>Congom2</td>
            <td>roger@gmail.com</td>
            <td>DAW2A</td>
            <td>Sí</td>
            <td>M7</td>
        </tr>
    </table>
{{username}}
</body>
</html>